@import "../includes/variables";

.aside-container {
  position: fixed;
  height: 100vh;
  width: var(--aside-width);
  overflow-y: scroll;
  transform: translateX(var(--aside-shift));
  transition: transform .25s linear;
  background-color: var(--border-secondary-color);
  box-shadow: inset -1px 0 3px rgba(0,0,0,.15);
}

aside {
  margin-top: $header-height;

  .container {
    font-size: 18px;
    line-height: 40px;
    padding: 0 40px;
  }

  .menu {
    width: 100%;
    margin-right: 0;
  }

  .menu-list, .menu-item {
    list-style: none;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    padding-left: 10px;
    border-bottom: 1px solid var(--border-primary-color);

    a {
      text-decoration: none;
      color: var(--text-primary-color);
    }

    &.active a {
      pointer-events: none;
      color: var(--text-secondary-color);
    }
  }
}
