@import "../includes/variables";

aside {
  margin-top: $header-height;

  .container {
    font-size: 18px;
    line-height: 40px;

    .menu-list, .menu-item {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    padding: 0 40px;
  }
}
