@import "../includes/variables";
@import "./markdown";

.content-wrapper {
  transform: translateX(0);
  transition: transform .25s linear;
}

main {
  margin-top: 60px;

  & > .container {
    padding: 0 20px;
  }

  .article-list {
    width: 100%;
  }

  article {
    margin-bottom: 60px !important;

    .metadata {
      font-size: 14px;
      color: var(--text-secondary-color);
      font-family: $monospaced-text-font-family;
      line-height: 30px;

      .datetime {
        margin: 0;
        width: 33%;
      }
    }

    .content {
      position: relative;
      line-height: 1.5;
      font-size: 16px;

      h3 {
        font-size: 20px;
        margin: 0 0 15px;

        a {
          color: var(--text-primary-color);
        }
      }

      .summary {
        color: var(--text-secondary-color);
      }
    }
  }

  article.fully {
    overflow: hidden;

    .metadata {
      div {
        width: auto;
        margin-right: 20px;
      }
    }

    .content {
      line-height: 1.5;
      margin-top: 50px;

      @include markdown();
    }
  }
}

.pagination {
  margin: 30px auto;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  user-select: none;

  a {
    display: inline-block;
    cursor: default;
    color: var(--text-secondary-color);

    &:hover {
      text-decoration: none;
    }

    svg {
      fill: var(--text-tertiary-color);
    }

    &[href] {
      cursor: pointer;

      svg {
        fill: var(--text-primary-color);
      }
    }
  }
}

@media screen and(max-width: $mobile-screen-width) {
  main article {
    .metadata {
      .datetime {
        margin-right: 20px;
      }
    }
  }
}
