@import "../includes/variables";

.aside-container {
  position: fixed;
  height: 100vh;
  width: var(--aside-width);
  overflow-y: scroll;
  transform: translateX(var(--aside-shift));
  transition: transform .25s linear;
  background-color: var(--border-secondary-color);
  box-shadow: inset -1px 0 3px rgba(0,0,0,.15);
}

.content-wrapper {
  transform: translateX(0);
  transition: transform .25s linear;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 9;
}

#app.show-aside {
  .aside-container {
    transform: translateX(0);
  }

  .content-wrapper {
    transform: translateX(var(--aside-width));
  }
}

@media screen and (min-width: $mobile-screen-width) {
  .aside-container {
    transform: translateX(var(--aside-shift)) !important;
  }
  .content-wrapper {
    transform: translateX(0) !important;
  }
}
