@import "../includes/variables";

#app.show-aside {
  .aside-container {
    transform: translateX(0);
  }

  .content-wrapper {
    transform: translateX(var(--aside-width));
  }
}

@media screen and (min-width: $mobile-screen-width) {
  .aside-container {
    transform: translateX(var(--aside-shift)) !important;
  }
  .content-wrapper {
    transform: translateX(0) !important;
  }
}
