@import "../includes/variables";

footer {
  font-size: 12px;
  line-height: 1.5;
  margin: 30px 0 10px;
  color: var(--text-tertiary-color);
  letter-spacing: .5px;
  user-select: none;

  a, a:visited {
    color: var(--text-tertiary-color);
  }

  .container {
    justify-content: center;

    div {
      text-align: center;

      span {
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
