@import "../includes/variables";

* {
  box-sizing: border-box;
}

html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;

  &[data-theme='light'] ::selection {
    background: rgba(0, 0, 0, .1);
  }
  &[data-theme='dark'] ::selection {
    background: rgba(0, 0, 0, .9);
  }
}

body {
  margin: 0;
  color: var(--text-primary-color);
  background-color: var(--bg-secondary-color);
  font-family: $text-font-family;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

a, a:visited, a:hover, a:active {
  color: var(--text-link-color);
  line-height: 1.25;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover, a:active {
  text-decoration: underline;
}
