@import "../includes/variables";

* {
  box-sizing: border-box;
}

html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--text-primary-color);
  background-color: var(--bg-secondary-color);
  font-family: $text-font-family;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

a, a:visited, a:hover, a:active {
  color: var(--text-link-color);
  line-height: 1.25;
  text-decoration: none;
  background-color: initial;
  -webkit-tap-highlight-color: transparent;
}

a:hover, a:active {
  text-decoration: underline;
}

[hidden] {
  display: none;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: $container-max-width;

  &.vertical {
    flex-direction: column;
  }
}

//h1 {
//  font-size: 2em;
//  margin: 0.67em 0;
//}
//
//pre, code, kbd, samp {
//  font-size: 1em;
//  font-family: monospace, monospace;
//}
//
//ul, li {
//  margin: 0;
//  padding: 0;
//  list-style: none;
//}
//
//img {
//  border-style: none;
//}
//
//
//.page-wrapper {
//  display: flex;
//  min-height: 100vh;
//  justify-content: stretch;
//}
//
//#nav-trigger {
//  display: none;
//
//  &:checked ~ .aside-container {
//    width: $aside-width;
//    left: 0;
//  }
//
//  &:checked ~ .content-wrapper {
//    left: $aside-width;
//  }
//}
//
//.aside-container {
//  position: fixed;
//  width: 0;
//  left: -$aside-width;
//  min-height: 100vh;
//  transition: all linear .25s;
//  background-color: $aside-background-color;
//  box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
//}
//
//.content-wrapper {
//  width: 100%;
//  position: relative;
//  left: 0;
//  transition: all linear .25s;
//}
//
//@media screen and (min-width: $mobile-screen-threshold) {
//  .aside-container {
//    left: -$aside-width !important;
//  }
//  .content-wrapper {
//    left: 0 !important;
//  }
//}
