@import "../includes/variables";

* {
  box-sizing: border-box;
}

html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: $light-font-color;
  background-color: $light-background-color;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

pre, code, kbd, samp {
  font-size: 1em;
  font-family: monospace, monospace;
}

a, a:visited, a:hover, a:active {
  color: $light-text-color;
  position: relative;
  font-style: italic;
  text-decoration: none;
  background-color: transparent;
  transition: box-shadow linear .25s;
  box-shadow: inset 0 -6px 0 0 rgba($light-link-color, .15);
}

a:hover, a.active {
  box-shadow: inset 0 -40px 0 0 rgba($light-link-color, .15);
}

img {
  border-style: none;
}

[hidden] {
  display: none;
}
