@import "../includes/variables";

.i-header {
  height: $header-height;
  min-height: $header-height;
  line-height: $header-height;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 0 3px $box-shadow-color;

  .i-container {
    justify-content: space-between
  }
}

.page-header {
  .left-logo {
    font-size: 20px;
    font-family: $artistry-font-family;

    a {
      color: $font-color;
      text-decoration: none;
    }
  }

  .right-menu {
    font-size: 16px;

    li {
      margin: 0 10px;

      &.menu-active a {
        cursor: default;
        pointer-events: none;
        color: $font-color;
        text-decoration: underline;
      }
    }
  }
}
