@import "../includes/variables";

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-height;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color-025);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scrollbar-bg-color-20);
  transition: background .75s linear;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-bg-color-25);
}
