@import "../includes/variables";

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-height;
}

::-webkit-scrollbar-track {
  background: rgba(var(--scrollbar-bg-color), .025);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(var(--scrollbar-bg-color), 0.2);
  transition: background .75s linear;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: rgba(var(--scrollbar-bg-color), .25);
}
