<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}" data-theme="light">
{{- partial "head.html" . -}}
<body>

<div id="app">
  <div class="aside-container">
    <aside>{{- partial "layouts/aside.html" . -}}</aside>
  </div>
  <div class="content-wrapper">
    <div class="header-container">
      <header>{{- partial "layouts/header.html" . -}}</header>
    </div>
    <div class="content-container">
      <main>{{- block "main" . -}}{{- end -}}</main>
    </div>
    {{- if ne .Kind "404" }}
    <div class="footer-container">
      <footer>{{- partial "layouts/footer.html" . -}}</footer>
    </div>
    {{- end }}
  </div>
</div>

{{- $buildOptions := (dict "targetPath" "js/jelly.js" "minify" true "target" "es2015") -}}
{{- $js := resources.Get "javascript/jelly.js" | js.Build $buildOptions -}}
<script src="{{ $js.Permalink }}"></script>
</body>
</html>
