{{ define "main" }}
<div class="container">
  <article class="fully">
    <section class="header">
      <h2>{{ .Title }}</h2>
    </section>
    <section class="metadata container">
      <div class="datetime"><span>{{ .Date.Format "January 2, 2006" }}</span></div>
      <div class="tags">
        {{- range .Params.tags -}}
        <span class="tag"><a href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a></span>
        {{- end -}}
      </div>
      <div class="statistics">
        <span class="words">{{ .WordCount }} words</span>
      </div>
    </section>
    <section class="content">
      {{ .Content }}
    </section>
  </article>
</div>
{{ end }}
