<header class="page-header i-header">
  <div class="i-container">
    <div class="left-logo">
      <a href="/">{{ .Site.Title }}</a>
    </div>
    <div class="right-menu">
      <ul class="nav-menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li class="{{- if or ($currentPage.IsMenuCurrent "main" .) (eq $currentPage.RelPermalink .URL) -}}menu-active{{- end -}}">
            {{ .Pre }}
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</header>
