// Colors (Via: Github)
$light-text-primary-color       : #24292e;
$light-text-secondary-color     : #586069;
$light-text-tertiary-color      : #6a737d;
$light-text-unactivated-color   : #6a737d;
$light-text-activated-color     : #1b1f23;
$light-bg-primary-color         : #ffffff;
$light-bg-secondary-color       : #fafbfc;
$light-border-primary-color     : #e1e4e8;
$light-border-secondary-color   : #eaecef;
$light-text-link-color          : #1486bb;
$light-shadow-small             : 0 1px 0 rgba(#1b1f23, 0.04);
$light-shadow-medium            : 0 3px 6px rgba(#959da5, 0.15);
$light-shadow-large             : 0 8px 24px rgba(#959da5, 0.2);

$dark-text-primary-color       : invert($light-text-primary-color); // #fff
$dark-text-secondary-color     : invert($light-text-secondary-color); // #fafbfc;
$dark-text-tertiary-color      : invert($light-text-tertiary-color); // #fafbfc;
$dark-text-unactivated-color   : invert($light-text-unactivated-color); // #6a737d;
$dark-text-activated-color     : invert($light-text-activated-color); // #1b1f23;
$dark-bg-primary-color         : invert($light-bg-primary-color); // #121212;
$dark-bg-secondary-color       : #24292e;
$dark-border-primary-color     : invert($light-border-primary-color); // #e1e4e8;
$dark-border-secondary-color   : invert($light-border-secondary-color); // #eaecef;
$dark-text-link-color          : #1486bb;
$dark-shadow-small             : 0 1px 0 rgba(#1b1f23, 0.04);
$dark-shadow-medium            : 0 3px 6px rgba(#959da5, 0.15);
$dark-shadow-large             : 0 8px 24px rgba(#959da5, 0.2);

// Fonts
$text-font-family               : -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Helvetica,verdana,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif,Apple Color Emoji,Segoe UI Emoji;
$monospaced-text-font-family    : SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace,sans-serif;

// Scrollbar
$scrollbar-width                : 7px;
$scrollbar-height               : 7px;
$light-scrollbar-bg-color       : 43, 43, 43;
$dark-scrollbar-bg-color        : 43, 43, 43;

// Layout
$container-max-width            : 850px;
$mobile-screen-width            : 768px;
$header-height                  : 55px;
