// Colors
$light-font-color               : #373d3f;
$light-title-color              : #2a2f31;
$light-text-color               : #373d3f;
$light-primary-color            : #1486bb;
$light-link-color               : $light-primary-color;
$light-background-color         : #faf9f9;

$dark-font-color                : #9a2617;


// Layout
$container-width                : 850px;
$mobile-screen-threshold        : 900px;

// Header
$header-height                  : 60px;
$header-background-color        : #fff;
$header-text-logo-font          : "Rouge Script",cursive, sans-serif;

// Aside
$aside-background-color         : #e2e3e4;


// Scrollbar
$scrollbar-width                : 7px;
$scrollbar-height               : 7px;
$scrollbar-background-color     : #2b2b2b;
